/* resetting proporeties for the whole html doc */
* {
  text-decoration: none;
  padding: 0px;
  margin: 0;
  list-style: none;
}
@import url("https://fonts.cdnfonts.com/css/typograph-pro?styles=30727,30728,30723,30724,30725,30726,30722");
.header {
  
  background-color: black;
  
}
/* NAV-BAR propreties : grid.... and giving each element of the navbar its own proprety */
nav {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  min-height: 10vh;
  background-color: #0060aa;
  color: white;
  font-family: "TYPOGRAPH PRO", sans-serif;
  font-weight: bold;
  text-align: center;
  min-width: 300px;
}
#bars{
  display: none;
}
#nav-bar-logo {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 5%;
  font-size: 1.5rem;
}
#nav-bar-logo img {
  width: 60px;
}
.navicon1 {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-right: 50%;
  letter-spacing: 3px;
}
.navicon2 {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 50%;
  letter-spacing: 3px;
  white-space: nowrap;
}
a {
  color: white;
}
#slogan {
  grid-column-start: 3;
  grid-row-start: 1;
  font-size: 1.5rem;
  justify-self: end;
  margin-right: 5%;
}
.nav-icons {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-icons:hover {
  color: #021b2e;
  scale: 1.1;
}
/* hero section settings and elements of the hero section */
.hero-section {
  display: flex;
  justify-content: space-around;
  gap: 5vw;
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100px;
  margin: 0 10vw;
}
.hero-title {
  color: white;
  text-align: left;
  font-family: "TYPOGRAPH PRO", sans-serif;
}
.hero-title h1 {
  margin: 50px 0;
  font-size:15px;
}
.hero-title p {
  margin: 50px 0;
  
}
button {
  background: none;
  border: none;
  color: black;
  font-family: "TYPOGRAPH PRO", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 10px 30px;
  margin-bottom: 50px;
}

/*Sponsors Slider*/
@keyframes slideleft {
  to {
    left: -100px;
  }
}
@keyframes slideright {
  to {
    right: -100px;
  }
}
/*left slider*/
.slider {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 90%;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  margin: 10vh 0;
}
.holder {
  height: 100px;
  width: 100px;
  position: absolute;
  left: max(calc(100px * 9), 100%);
  animation-name: slideleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/*right slider*/
.wrapper-right {
  width: 90%;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  margin: 10vh 0;
}
.holder-r {
  height: 100px;
  width: 100px;
  position: absolute;
  right: max(calc(100px * 9), 100%);
  animation-name: slideright;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/*Sponsors Slider*/

.holder1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}
.holder2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}
.holder3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}
.holder4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}
.holder5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}
.holder6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}
.holder7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}
.holder8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.holder9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

/*product section and boxes for product section*/
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
 
}
.product a {
  color: black;
  
}

.box {
 
  display: flex;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(0, 96, 170, 0.07886904761904767) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 63, 112, 0.18531162464985995) 100%
  );
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#men {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#women {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#sales {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box-title {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "TYPOGRAPH PRO", sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
}
.box::after {
  content: "";
  height: 300px;
  width: 400px;
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 96, 170, 0.76234243697479) 0%,
    rgba(0, 96, 170, 0.9220063025210083) 50%,
    rgba(0, 63, 112, 1) 100%
  );
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box:hover:after {
  opacity: 1;
  border-radius: 20px;
  z-index: -1;
}
.box:hover {
  scale: 1.2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box:hover #men {
  transform: translate(-120px, -40px) rotate(-90deg);
}
.box:hover .box-title {
  transform: translate(100px, 100px);
  text-align: center;
  color: white;
}
.box:hover #women {
  transform: translate(-100px, -40px) rotate(-90deg);
}
.box:hover #sales {
  transform: translate(-100px, -40px) rotate(-90deg);
}
/* footer section settings */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0060aa;
  color: white;

  font-family: "TYPOGRAPH PRO", sans-serif;
  overflow-x: hidden;
}
.info {
  display: flex;
  width: 100%;
  margin: 50px 0;
  justify-content: space-around;
  align-items: center;
}
hr {
  width: 100%;
}
.socials {
  text-align: center;
  margin: 50px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-icons, #slogan{
    display: none;
   }
   nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
   }
   #bars{
    display: block;
    margin-right: 5%;
  }
  .hero-section{
    flex-direction: column;
    gap: 0px;
    margin: 0 20px;
    justify-content: space-evenly;
    height: 50vh;
    
  }
  .hero-title{
    text-align: center;
  }
  .box {
    scale: 0.5;
  }
  .box a{
    scale: 0.5;
  }
  .heroimg{
    width: 297.5px;
    transform: rotate(70deg);
   }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {
  .nav-icons, #slogan{
    display: none;
   }
   nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
   }
  #bars{
    display: block;
    margin-right: 5%;
  }
  .hero-section{
    flex-direction: column;
    gap: 0px;
    margin: 0 20px;
    justify-content: space-evenly;
    
  }
  .hero-title{
    text-align: center;
  }
  .box{
   
  }
  .heroimg{
    width: 297.5px;
    transform: rotate(70deg);
   }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) {
  .nav-icons{
    display: none;
   }
   nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
   }
   #bars{
    display: block;
    margin-right: 5%;
  }
  .hero-section{
    flex-direction: column;
    gap: 0px;
    margin: 0 20px;
    justify-content: space-evenly;
  }
  .hero-title{
    text-align: center;
  }
  .heroimg{
    width: 396.6px;
    transform: rotate(70deg);
   }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ((min-width: 992px) and (max-width:1199px)) {
  .nav-icons{
    display: none;
   }
   nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
   }
  #bars{
    display: block;
    margin-right: 5%;
  }
  .heroimg{
    width: 396.6px;
   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}
