* {
    text-decoration: none;
    padding: 0px;
    margin: 0;
}
 @import url('https://fonts.cdnfonts.com/css/typograph-pro?styles=30727,30728,30723,30724,30725,30726,30722');             
section {
   
  
}

.header {
    display: grid;
    background-color: black;
    
}

.product {
    background-color: blue;
}

.footer {
    background-color: green;
}
nav {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr ;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: #0060AA;
    color: white;
    font-family: 'TYPOGRAPH PRO', sans-serif;
    font-weight: bold;
    text-align: center;                                         
}
.navicon1{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-right: 50%;
}
.navicon2{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 50%;
}
a{
    color: white;
}
#slogan{
    grid-column-start: 3;
    grid-row-start: 1;
    font-size:  1.5rem;
    margin-right: 5%;
}
#nav-bar-logo{
    text-align: left;
    margin: 5%;
    font-size: 1.5rem;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 10vw;
}
.hero-title{
    color: white;
    text-align: left;
    font-family: 'TYPOGRAPH PRO', sans-serif;
    
    
}
.hero-title h1{
margin: 50px 0;
font-size: clamp(24px, calc(1.5rem + ((1vw - 6px) * 4.2254)), 70px);
}
.hero-title p{
    margin: 50px 0;
    font-size: clamp(10px, calc(1.5rem + ((1vw - 6px) * 2.2254)), 25px);
}
img{
    
}
button{
    background:none;
    border:none;
    color: black;
    font-family: 'TYPOGRAPH PRO', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 50px;
}

/*Sponsors Slider*/
@keyframes slideleft {
    to{
        left:-100px;
    }
}

.wrapper{
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0)
    );
}
.holder{
    height: 100px;
    width: 100px;
    position: absolute;
    left: max(calc(100px * 8),100%);
    animation-name: slideleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.holder1 {
    animation-delay: calc(30s / 9 * (9 - 1) * -1);
  }
.holder2 {
    animation-delay: calc(30s / 9 * (9 - 2) * -1);
  }
.holder3 {
    animation-delay: calc(30s / 9 * (9 - 3) * -1);
  }
.holder4 {
    animation-delay: calc(30s / 9 * (9 - 4) * -1);
  }
.holder5 {
    animation-delay: calc(30s / 9 * (9 - 5) * -1);
  }
.holder6 {
    animation-delay: calc(30s / 9 * (9 - 6) * -1);
  }
.holder7 {
    animation-delay: calc(30s / 9 * (9 - 7) * -1);
  }
.holder8 {
    animation-delay: calc(30s / 9 * (9 - 8) * -1);
  } 
  .holder9 {
    animation-delay: calc(30s / 9 * (9 - 9) * -1);
  } 
  /*Sponsors Slider*/